@use 'variables' as v;


.text-center {
    text-align: center;
}

.bg-primario {
    background-color: v.$primario;
}

.bg-blanco {
    background-color: v.$blanco;
}

.margen-menos-10 {
    margin-top: -10rem;
}

.pad-bot-0 {
    padding-bottom: 0 !important;
}